*.pyc
*.db
*~
.*
*.py.bak


/site/
/htmlcov/
/coverage/
/build/
/dist/
/*.egg-info/
/env/
MANIFEST
coverage.*

!.github
!.gitignore
!.pre-commit-config.yaml
bimvenv/
api/dotnet/BimApi/bin
api/dotnet/BimApi/obj
